.header{
    background-color: rgb(0, 0, 0);
    width: width;
    height: 30px;
    padding: 5px 0px;
}
.first{
    float: right;
    margin-right: 5px;
}
.first i{
    color: white;
    margin: 0px 12px;
    font-size: 20px;
    color:rgba(255, 255, 255, 0.555);
}
 img{
    height: 500px;
  

}
h5{
font-size: 40px;
font-family: 'Metrophobic', sans-serif;
color: whitesmoke;
 
}
.holder{
    background: gainsboro;
    padding-bottom: 20px;
}
.end{
    margin-top: 20px;
   text-align: center;
}
button{
    width: 100px;
    background-color: rgba(0, 110, 255, 0.452);
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    border-radius: 15px;
    border: none;
}














@media screen and (max-width:1160px){
    img{
        height: 480x;
    }
}